In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
s = pd.Series([1, 3, 5, np.NaN, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range('20130101', periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.471882 -0.425277  0.708292 -0.394824
2013-01-02 -0.998299 -0.339195 -0.092161  1.200600
2013-01-03  0.686523 -0.877743  0.049331 -0.399142
2013-01-04 -0.281304  1.306242  0.455667  0.027147
2013-01-05  1.533293 -0.739541  1.247806  0.704446
2013-01-06 -0.056405 -0.885761  0.059901  0.727907

In [27]:
df2 = pd.DataFrame({
    'A': 1.0,
    'B': pd.Timestamp('20130101'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2013-01-01  1.0  3   test  foo
1  1.0 2013-01-01  1.0  3  train  foo
2  1.0 2013-01-01  1.0  3   test  foo
3  1.0 2013-01-01  1.0  3  train  foo

In [28]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [29]:
df.head()

                   A         B         C         D
2013-01-01 -0.471882 -0.425277  0.708292 -0.394824
2013-01-02 -0.998299 -0.339195 -0.092161  1.200600
2013-01-03  0.686523 -0.877743  0.049331 -0.399142
2013-01-04 -0.281304  1.306242  0.455667  0.027147
2013-01-05  1.533293 -0.739541  1.247806  0.704446

In [30]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.281304  1.306242  0.455667  0.027147
2013-01-05  1.533293 -0.739541  1.247806  0.704446
2013-01-06 -0.056405 -0.885761  0.059901  0.727907

In [31]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [32]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [33]:
df.values

array([[-0.47188225, -0.42527656,  0.70829246, -0.39482352],
       [-0.99829867, -0.33919498, -0.09216103,  1.20060018],
       [ 0.68652348, -0.87774289,  0.04933082, -0.39914158],
       [-0.28130368,  1.30624167,  0.45566741,  0.02714702],
       [ 1.53329343, -0.73954129,  1.24780559,  0.7044455 ],
       [-0.05640511, -0.8857605 ,  0.05990132,  0.72790691]])

In [34]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.068655 -0.326879  0.404806  0.311022
std    0.905053  0.832227  0.509438  0.663786
min   -0.998299 -0.885761 -0.092161 -0.399142
25%   -0.424238 -0.843192  0.051973 -0.289331
50%   -0.168854 -0.582409  0.257784  0.365796
75%    0.500791 -0.360715  0.645136  0.722042
max    1.533293  1.306242  1.247806  1.200600

In [36]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.471882   -0.998299    0.686523   -0.281304    1.533293   -0.056405
B   -0.425277   -0.339195   -0.877743    1.306242   -0.739541   -0.885761
C    0.708292   -0.092161    0.049331    0.455667    1.247806    0.059901
D   -0.394824    1.200600   -0.399142    0.027147    0.704446    0.727907

In [41]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.394824  0.708292 -0.425277 -0.471882
2013-01-02  1.200600 -0.092161 -0.339195 -0.998299
2013-01-03 -0.399142  0.049331 -0.877743  0.686523
2013-01-04  0.027147  0.455667  1.306242 -0.281304
2013-01-05  0.704446  1.247806 -0.739541  1.533293
2013-01-06  0.727907  0.059901 -0.885761 -0.056405

In [43]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06 -0.056405 -0.885761  0.059901  0.727907
2013-01-03  0.686523 -0.877743  0.049331 -0.399142
2013-01-05  1.533293 -0.739541  1.247806  0.704446
2013-01-01 -0.471882 -0.425277  0.708292 -0.394824
2013-01-02 -0.998299 -0.339195 -0.092161  1.200600
2013-01-04 -0.281304  1.306242  0.455667  0.027147